functions-framework==3.*
google-auth==2.*
google-auth-httplib2==0.2.*
google-api-python-client==2.*
google-cloud-firestore==2.*
flask==3.*
requests==2.31.0
markdown==3.*
pydantic[email]>=2.5.0
pydantic-settings>=2.1.0
gunicorn>=21.0.0

